<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<head>
<title>Moja strona html5</title>
</head>
<body>
<table>
<tbody>
<tr><td>DobrA TABELA</td></tr>
</tbody>
</table>
<p>To jest akapit mój koński ściekowy <br> i nową linię zrobiłem bez '/>' </p>

<audio controls id="player" src=""></audio>

<div>
<button onclick = document.getElementById("player").play()>Play</button>
<button onclick = document.getElementById("player").pause()>Pauza</button>
<button onclick = document.getElementById("player").volume+=1>Głośniej</button>
<button onclick = document.getElementById("player").volume-=1>Ciszej</button>
</div>

<section><aside><footer><header><nav><hgroup><h1>mama</h1>

<form>
 <p><label>Search: <input name=search autofocus></label></p>
  <!-- the rest of the form -->
</form>

<form>
 <p><label>Name: <input name=name placeholder="Daniel Dziuda" required></label></p>
 <p><label>E-mail: <input name=email type=email placeholder=mamma@mamma.com required></label></p>
 <p><label>URL: <input name=url type=url placeholder=http://www.allegro.pl ></label></p>
 <p><label>Comment: <textarea name=comment placeholder="I will not to write in this place :)" required></textarea></label></p>
 <p><label>Tel: <input name=telefon type=tel placeholder="+48 606 937 558" autofocus></label></p>
 <p><label>Date: <input type=date value=2012-03-30></label></p>
 <p><label>Datetime: <input type=datetime></label></p>
 <p><label>Datetime-local: <input type=datetime-local></label></p>
 <p><label>Time: <input type=time></label></p>
 <p><label>Month: <input type=month></label></p>
 <p><label>Color: <input type=color></label></p>
 <p><input type=submit value=React!><input type=reset value=reset></p>
</form>
<p>&lt; co to jest &gt; </p>
<b>&lt;p&gt;</b>W zawodach przepłynąłem dystans <b>&lt;meter value="120" min="0" max="200" low="80" high="200" optimum="200"&gt;</b>120 metrów<b>&lt;/meter&gt;</b><b>&lt;/p&gt;</b>


</body>
</html>
